.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.flex > * {
    text-overflow: ellipsis;
}
.flex > :not(:first-child) {
    margin-top: 0px;
}
.flex > *:not(.ms-StackItem) {
    flex-shrink: 1;
}

.main_div {
    width: 100%;
    height: 100%;
}
